<h2>Edit <%= @contact[:name] %>'s Information:</h2>
<form action="/contact/<%= @contact[:id] %>/edit" method="post">
  <dl>
    <dt>
      <label for="name">Name:</label>
    </dt>
    <dd>
      <input id="name" name="name" type="text" value="<%= @contact[:name] %>">
    </dd>
    <dt>
      <label for="phone">Phone:</label>
    </dt>
    <dd>
      <input id="phone" name="phone" type="text" value="<%= @contact[:phone] %>">
    </dd>
    <dt>
      <label for="email">Email:</label>
    </dt>
    <dd>
      <input id="email" name="email" type="text" value="<%= @contact[:email] %>">
    </dd>
    <dt>
      <label for="category">Category:</label>
    </dt>
    <dd>
      <select id="category" name="category">
        <option value="friends" <%= select_if_current_category(@contact, "friends") %>>Friends</option>
        <option value="family" <%= select_if_current_category(@contact, "family") %>>Family</option>
        <option value="work" <%= select_if_current_category(@contact, "work") %>>Work</option>
        <option value="other" <%= select_if_current_category(@contact, "other") %>>Other</option>
      </select>
    </dd>
  </dl>
  <button type="submit">Confirm Changes</button>
</form>
